# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Env
.env
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/

# Database
*.sqlite3
*.db

# Snapshots / media
storage/
snapshots/
uploads/
